<div class='row py-4 px-5'>
	<div class='col-12 col-sm-5'>
		<h1>Adding New Doctor</h1><br>
		<%= render "form", doctor: @doctor %><br>
		<%= link_to "Back", doctors_path, class:"btn btn-secondary" %>
	</div>
</div>