<html>
	<body>

	<h1>The lis of doctors:</h1>
	<table border = "1">
	<tr>
	<td width="30%"><p align="center"><i><b>Name</b></i></td>
		<td width="35%"><p align="center"><i><b>Surname</b></i></td>
			<td width="55%"><p align="center"><i><b>Specialisation</b></i></td>
	</tr>

	<% @doctors.each do |doctor| %>
	<tr>
	<td><%= link_to doctor.first_name, :action => "list", :id => doctor.id %></td>
	<td><%= doctor.created_at %></td>
	</tr>
	<% end %>
	</table>
	</body>

</html>